{% extends 'page.html' %}
{% load staticfiles %}

{% block title %}Registro{% endblock title %}

{% block tituloPagina %}Registro de cancion{% endblock tituloPagina %}

{% block acciones%}
<ul class="icons">
<li>
    <a href="{% url 'cancion.registro' %}" data-bind="click: " data-placement="right" data-toggle="tooltip" data-original-title="Agregar nuevo registro">
         <i class="fa fa-plus" style="font-size: 20px;"></i>
    </a>
</li>
                
        
</ul>
{% endblock acciones%}

{% block insertar %}
          
            <form action="." method="post" enctype="multipart/form-data" id="form-wizard">{% csrf_token %}
            <!-- <input type="hidden" name="csrfmiddlewaretoken" value="WScMBnv20fitp9IcTNVt6MW2FWd4Fr6J">        -->
                      
                    <input type="text" class="form-control" placeholder="Digite el titulo de la cancion" data-bind='value:cancionVO.titulo'></input>     
                    <br>
                      <div class="form-group col-lg-4">
                        <label>(*) Album</label>
                        <select class="form-control" data-bind="options: listado_albums,
                                           optionsText: 'nombre', 
                                           optionsValue: 'id', 
                                           optionsCaption: 'Seleccione el album',
                                           value: cancionVO.album_id">
                        </select>                           
                      </div> 
                    <br>
                    <input type="file" class="form-control" data-bind="fileData:{value:cancionVO.track_file,allowedFileExtensions: ['mp3']}"/>
                        
                  
            </form>
            <!-- End Account2 Form -->                    
         
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bind="click:guardar">Guardar</button>
            
          </div>
          <br><br>
          <div class="mensajeExitoso" id="mensajeExito">
            
          </div>
          <div class="mensajeError" id="mensajeError">
            
          </div>

   
{% endblock insertar%}



{%block imports %}
	<script type="text/javascript" src='{% static "js/ViewModels/cancion/cancion.js" %}'></script>

  <script type="text/javascript">

    $(document).ready(function () {

        cancion.consultar_albums(1);//iniciamos la primera funcion
        
        
    });  

  </script>
{% endblock imports %}


