{% extends 'page.html' %}
{% load staticfiles %}

{% block title %}Inicio{% endblock title %}

{% block tituloPagina %}Album{% endblock tituloPagina %}


{% block contenido %}
<div data-bind="visible: (listado() != null)">
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>artista</th>
				</tr>
			</thead>
			<tbody data-bind="foreach:{data:listado, as:'item'}">
				<tr>
					<td data-bind="text: item.id"></td>
					<td data-bind="text: item.nombre"></td>
					<td data-bind="text: item.artista"></td>
				</tr>
			</tbody>
		</table>
		
	</div>

{% endblock contenido %}



{%block imports %}
	<script type="text/javascript" src='{% static "js/ViewModels/album/album.js" %}'></script>

  <script type="text/javascript">

    $(document).ready(function () {

        album.consultar(1);//iniciamos la primera funcion
        
        
    });  

  </script>
{% endblock imports %}