{% load staticfiles %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>



<script type="text/javascript" src='{% static "js/callback/ajax-callback.js" %}'></script>

<script type="text/javascript" src='{% static "js/knockout/knockout-3.4.0.js" %}'></script>
<script type="text/javascript" src='{% static "js/knockout/knockout.mapping-latest.js" %}'></script>
<script type="text/javascript" src='{% static "js/knockout/knockout.validation.js" %}'></script>
<script type="text/javascript" src='{% static "js/knockout/knockstrap.min.js" %}'></script>


<script type="text/javascript" src='{% static "js/knockout/controles.js" %}'></script>